
<div *ngIf="typeAbonne">
    <h2><span jhiTranslate="ebankingApp.typeAbonne.detail.title">Type Abonne</span> {{typeAbonne.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ebankingApp.typeAbonne.libelle">Libelle</span></dt>
        <dd>
            <span>{{typeAbonne.libelle}}</span>
        </dd>
        <dt><span jhiTranslate="ebankingApp.typeAbonne.code">Code</span></dt>
        <dd>
            <span>{{typeAbonne.code}}</span>
        </dd>
        <dt><span jhiTranslate="ebankingApp.typeAbonne.deleted">Deleted</span></dt>
        <dd>
            <span>{{typeAbonne.deleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'type-abonne/'+ typeAbonne.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
