<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompteLabel" jhiTranslate="ebankingApp.compte.home.createOrEditLabel">Create or edit a Compte</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.numero" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                [(ngModel)]="compte.numero" required/>
            <div [hidden]="!(editForm.controls.numero?.dirty && editForm.controls.numero?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numero?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.numeroComplet" for="field_numeroComplet">Numero Complet</label>
            <input type="text" class="form-control" name="numeroComplet" id="field_numeroComplet"
                [(ngModel)]="compte.numeroComplet" required/>
            <div [hidden]="!(editForm.controls.numeroComplet?.dirty && editForm.controls.numeroComplet?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numeroComplet?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                [(ngModel)]="compte.libelle" required/>
            <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.solde" for="field_solde">Solde</label>
            <input type="number" class="form-control" name="solde" id="field_solde"
                [(ngModel)]="compte.solde" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.sens" for="field_sens">Sens</label>
            <input type="text" class="form-control" name="sens" id="field_sens"
                [(ngModel)]="compte.sens" required/>
            <div [hidden]="!(editForm.controls.sens?.dirty && editForm.controls.sens?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sens?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.abonne" for="field_abonne">Abonne</label>
            <select class="form-control" id="field_abonne" name="abonne" [(ngModel)]="compte.abonne" >
                <option [ngValue]="null"></option>
                <option [ngValue]="abonneOption.id === compte.abonne?.id ? compte.abonne : abonneOption"
                        *ngFor="let abonneOption of abonnes; trackBy: trackAbonneById">{{abonneOption?.user?.firstName}} {{abonneOption?.user?.lastName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.devise" for="field_devise">Devise</label>
            <select class="form-control" id="field_devise" name="devise" [(ngModel)]="compte.devise" >
                <option [ngValue]="null"></option>
                <option [ngValue]="deviseOption.id === compte.devise?.id ? compte.devise : deviseOption" *ngFor="let deviseOption of devises; trackBy: trackDeviseById">{{deviseOption.libelle}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ebankingApp.compte.typeCompte" for="field_typeCompte">Type Compte</label>
            <select class="form-control" id="field_typeCompte" name="typeCompte" [(ngModel)]="compte.typeCompte" >
                <option [ngValue]="null"></option>
                <option [ngValue]="typeCompteOption.id === compte.typeCompte?.id ? compte.typeCompte : typeCompteOption" *ngFor="let typeCompteOption of typecomptes; trackBy: trackTypeCompteById">{{typeCompteOption.libelle}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
