
<div *ngIf="priseEnCharge">
    <h2><span jhiTranslate="ebankingApp.priseEnCharge.detail.title">Prise En Charge</span> {{priseEnCharge.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ebankingApp.priseEnCharge.libelle">Libelle</span></dt>
        <dd>
            <span>{{priseEnCharge.libelle}}</span>
        </dd>
        <dt><span jhiTranslate="ebankingApp.priseEnCharge.code">Code</span></dt>
        <dd>
            <span>{{priseEnCharge.code}}</span>
        </dd>
        <dt><span jhiTranslate="ebankingApp.priseEnCharge.deleted">Deleted</span></dt>
        <dd>
            <span>{{priseEnCharge.deleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'prise-en-charge/'+ priseEnCharge.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
