<div>
    <h2>
        <span jhiTranslate="ebankingApp.nbreFeuillesChequier.home.title">Nbre Feuilles Chequiers</span>
        <button class="btn btn-primary float-right jh-create-entity create-nbre-feuilles-chequier" [routerLink]="['/', { outlets: { popup: ['nbre-feuilles-chequier-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ebankingApp.nbreFeuillesChequier.home.createLabel">
            Create new Nbre Feuilles Chequier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nbreFeuillesChequiers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="nbFeuilles"><span jhiTranslate="ebankingApp.nbreFeuillesChequier.nbFeuilles">Nb Feuilles</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="libelle"><span jhiTranslate="ebankingApp.nbreFeuillesChequier.libelle">Libelle</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nbreFeuillesChequier of nbreFeuillesChequiers ;trackBy: trackId">
                <td>{{nbreFeuillesChequier.nbFeuilles}}</td>
                <td>{{nbreFeuillesChequier.libelle}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../nbre-feuilles-chequier', nbreFeuillesChequier.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nbre-feuilles-chequier/'+ nbreFeuillesChequier.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nbre-feuilles-chequier/'+ nbreFeuillesChequier.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="nbreFeuillesChequiers && nbreFeuillesChequiers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
